<div class="review-card skeleton-card">
    <div class="skeleton header"></div>
    <div class="skeleton line"></div>
    <div class="skeleton line short"></div>
    <div class="skeleton chips"></div>
</div>
