<div class="venue-card skeleton-card">
    <div class="skeleton media"></div>
    <div class="skeleton lines short"></div>
    <div class="skeleton lines"></div>
    <div class="skeleton chips"></div>
</div>
